.grid-container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
}
.mainbody{
    position: absolute;
    top: 1px; /* Header Height */
    bottom: 1px; /* Footer Height */
    width: 99%;
    background-color:#636363
 }